<h2>Create a Free Client Account</h2>

<div class="o-signup-form-labels eo-tabset">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="#">Company SignUp</a></li>
    <li role="presentation"><a href="#">Student SingUp</a></li>
  </ul>
</div>

<%= render "devise/shared/student_signup_form", type_of_user: 'student' %>

<%= render "devise/shared/links" %>
