<h2>Create a Free Client Account</h2>

<div class="o-signup-form-labels eo-tabset">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation">
      <%= link_to 'Company SignUp', signup_as_path(singup_as: 'company') %>
    </li>
    <li role="presentation">
      <%= link_to 'Student SingUp', signup_as_path(singup_as: 'student' ) %>
    </li>
  </ul>
</div>

<%= render 'devise/shared/student_signup_form', type_of_user: params[:type_of_user] %>

<%= render 'devise/shared/links' %>
