<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">ExperienceUP, gain experience since level 1</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Our Platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This platform was created by Isabel Gonzalez
                                    as part of her graduation process</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ExperienceUP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ExperienceUp is a platform for selling student services online</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Student side</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students can create their own professional profile</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Company side</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Companies can upload their projects so students can apply and work</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>