<p id="notice"><%= notice %></p>

<h2>My project portfolio</h2>

<%= link_to 'New Portfolio', new_portfolio_path %>

<hr>

<div class="row">
  <% @portfolios.each do |portfolio| %>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">
          <%= portfolio.title %>
        </a>
      </h3>
      <p>
        <%= portfolio.description %>
      </p>
    </div>
  <% end %>
</div>

<hr>