<p id="notice"><%= notice %></p>

<h2>Students</h2>

<hr>

<div class="row">
  <%  @users.each do |user| %>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <% if user.avatar.present? %>
          <%= image_tag user.avatar.url(:medium), class:'img-responsive' %>
        <% else %>
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <% end %>
      </a>
      <h3>
        <%= user.name + " " + user.lastname %>
      </h3>
      <p>
        <strong>
          Skills
        </strong>
      </p>
      <p>
        <%= get_skills(user) %>
      </p>
    </div>
  <% end %>
</div>

<hr>
