// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap.min";
@import "metisMenu.min";
@import "sb-admin-2";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "chosen";